@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script:wght@600&family=Kanit:wght@900&display=swap");
body {
  margin: 0 auto;
  width: 660px;
  background-image: url("../images/bg.jpg");
  background-repeat: repeat;
}

#body {
  position: relative;
  overflow: hidden;
}

.header {
  font-family: "Abril Fatface", cursive;
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 17px;
  position: relative;
}
.header > * {
  background-color: #303841;
  color: yellow;
  outline: 2px solid black;
}
.header__list {
  width: 20%;
}
.header__list:hover {
  background-color: #303030;
}
.header__text {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 8px;
  text-transform: uppercase;
}
.header__count-mine {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.header__count-mine div {
  padding: 10px 15px;
}
.header__count-mine img {
  height: 35px;
}
.header__count-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 15%;
}
.header__count-time div {
  padding: 10px 15px;
}
.header__count-time img {
  height: 35px;
}

#selected {
  padding: 10px 15px;
  cursor: pointer;
  position: relative;
}

.modes {
  width: 20%;
  margin: 0;
  padding: 0;
  top: calc(100% + 1px);
  position: absolute;
  background-color: #303841;
}
.modes__item {
  padding: 10px 15px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.modes__item:hover {
  background-color: #303030;
}
.modes__hide {
  opacity: 0;
  visibility: hidden;
}
.modes__show {
  z-index: 100;
  opacity: 1;
  visibility: visible;
}

main {
  margin: 0 auto;
  outline: 2px solid black;
  margin-top: 2px;
}

table {
  width: 100%;
  background-color: #E7EAED;
  table-layout: fixed;
}

@-webkit-keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.cellNeutral {
  background-color: green;
  cursor: pointer;
}
.cellNeutral:hover {
  background-color: blue;
}

.cellEmpty {
  transition: background-color 0.1s ease-in-out;
  background-color: #E7EAED;
  cursor: default;
}

.cellNeutralWithFlag {
  background-color: green;
  cursor: default;
  position: relative;
}
.cellNeutralWithFlag::after {
  -webkit-animation: appear 0.2s forwards;
          animation: appear 0.2s forwards;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url(../images/flag.png);
  background-size: cover;
}

.cellMine {
  background-color: #E7EAED;
  cursor: default;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.cellMine::after {
  -webkit-animation: appear 0.2s forwards;
          animation: appear 0.2s forwards;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url(../images/mine.png);
  background-size: cover;
}

.cellMineClick {
  cursor: default;
  position: relative;
  background-color: red;
  transition: all 0.5s ease-in-out;
}
.cellMineClick::after {
  -webkit-animation: appear 0.2s forwards;
          animation: appear 0.2s forwards;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  background-image: url(../images/mine.png);
  background-size: cover;
}

.cellCorrect {
  cursor: default;
  position: relative;
  background-color: #E7EAED;
  transition: all 0.5s ease-in-out;
}
.cellCorrect::after {
  -webkit-animation: appear 0.2s forwards;
          animation: appear 0.2s forwards;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  background-image: url(../images/correct.png);
  background-size: cover;
}

#field tr td {
  font-family: "Kanit", sans-serif;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.n1 {
  color: rgb(0, 255, 64);
}

.n2 {
  color: rgb(0, 128, 192);
}

.n3 {
  color: rgb(255, 0, 0);
}

.n4 {
  color: rgb(255, 128, 0);
}

.n5 {
  color: rgb(128, 0, 0);
}

.n6 {
  color: rgb(128, 0, 128);
}

.n7 {
  color: rgb(64, 0, 64);
}

.n8 {
  color: rgb(0, 0, 0);
}

.select {
  position: relative;
  cursor: pointer;
  padding: 10px 15px;
  outline: 2px solid black;
  background-color: #303841;
}

.select:hover {
  background-color: #303030;
}

#selected::after {
  content: "▼";
  color: brown;
  position: absolute;
  right: 5px;
}

@-webkit-keyframes show-board {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes show-board {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes hide-board {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(300%);
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes hide-board {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    transform: translateY(300%);
    opacity: 0;
    visibility: hidden;
  }
}
.minesweep-footer {
  font-family: "Dancing Script", cursive;
  font-size: 40px;
  color: yellow;
  cursor: default;
  display: flex;
  align-items: center;
  position: absolute;
  transition: background-color 0.5s ease;
  background-color: rgba(0, 0, 0, 0);
}
.minesweep-footer__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline-offset: -10px;
  outline: 10px double white;
  border-radius: 30px;
}
.minesweep-footer__show {
  transition: background-color 0.5s ease 1s;
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.4);
}
.minesweep-footer__already-hide {
  transform: translateY(100%);
}
.minesweep-footer__already-show {
  transform: translateY(0);
  background-color: rgba(0, 0, 0, 0.4);
}

.wrapper {
  margin: 0 10px;
}
.wrapper__message {
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-transform: uppercase;
}
.wrapper__show {
  -webkit-animation: show-board 1s ease 0.5s 1 forwards;
          animation: show-board 1s ease 0.5s 1 forwards;
}
.wrapper__hide {
  -webkit-animation: hide-board 0.5s ease 0s 1 forwards;
          animation: hide-board 0.5s ease 0s 1 forwards;
}
.wrapper__win {
  background-color: lightskyblue;
}
.wrapper__lose {
  background-color: rgb(240, 62, 70);
}
.wrapper__already-hide {
  transform: translateY(300%);
}
.wrapper__already-show {
  transform: translateY(0);
}

.stat {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.stat * {
  display: flex;
  align-items: center;
  justify-content: center;
}
.stat__time::before {
  content: "";
  background-image: url("../images/timer.png");
  width: 50px;
  height: 50px;
  position: relative;
  background-size: cover;
  left: -20px;
}
.stat__mine::before {
  content: "";
  background-image: url("../images/mine.png");
  width: 50px;
  height: 50px;
  position: relative;
  background-size: cover;
  left: -20px;
}
.stat__image {
  display: block;
  padding: 20px;
  background-color: white;
  border-radius: 30px;
}
.stat__image:hover {
  background-color: lightseagreen;
  cursor: pointer;
}